body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #111;
  color: white;
  padding: 15px 30px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: #1f2937;
  color: white;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
}

.cards-section {
  text-align: center;
  padding: 50px 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}

/* Responsive */

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}

.gaming-section{
  text-align:center;
  padding:50px;
}

.botones{
  margin-bottom:30px;
}

.botones button{
  margin:10px;
  padding:10px 20px;
  cursor:pointer;
}

.contenido img{
  width:300px;
  height:auto;
}

.contenido h2{
  margin-top:20px;
}

.contenido p{
  max-width:700px;
  margin:auto;
}

.navbar ul li {
  cursor: pointer;
  /* Tus otros estilos de diseño aquí */
}